In [3]:
import numpy as np
import pandas as pd

In [4]:
#read txt file
def read_txt(filename):
    with open(filename, 'r') as f:
        data = f.readlines()
    return data

traininglist = read_txt('E:/JHU/课程/datadesign/NLP/machine_learning/trainingdata.txt')
#print(list)
for i in range(len(traininglist)):
    traininglist[i] = traininglist[i].split()
#print(list)
trainingdataframe = pd.DataFrame(traininglist, columns=['text', 'label'])
print(trainingdataframe.shape)
trainingdataframe.head()

(336882, 2)

         text  label
0      Record      O
1       date:      O
2  2067-05-03  B-PHI
3   Narrative      O
4     History      O

In [5]:
df_training = trainingdataframe.fillna(method='ffill')
df_training.text.nunique(), df_training.label.nunique()

(42418, 19)

In [6]:
df_training.groupby('label').size().reset_index(name='counts')

               label  counts
0              B-CAD     839
1         B-DIABETES     704
2      B-FAMILY_HIST      10
3   B-HYPERLIPIDEMIA     334
4     B-HYPERTENSION     831
5       B-MEDICATION    2937
6            B-OBESE     153
7              B-PHI    8455
8           B-SMOKER     511
9              I-CAD    2903
10        I-DIABETES     827
11     I-FAMILY_HIST      67
12  I-HYPERLIPIDEMIA      87
13    I-HYPERTENSION     629
14      I-MEDICATION    1651
15           I-OBESE      36
16             I-PHI    3266
17          I-SMOKER    1015
18                 O  311627

In [7]:
#将B-PHI和I-PHI合并为O
df_training['label'] = df_training['label'].replace(['B-PHI', 'I-PHI'], 'O')
df_training.groupby('label').size().reset_index(name='counts')

               label  counts
0              B-CAD     839
1         B-DIABETES     704
2      B-FAMILY_HIST      10
3   B-HYPERLIPIDEMIA     334
4     B-HYPERTENSION     831
5       B-MEDICATION    2937
6            B-OBESE     153
7           B-SMOKER     511
8              I-CAD    2903
9         I-DIABETES     827
10     I-FAMILY_HIST      67
11  I-HYPERLIPIDEMIA      87
12    I-HYPERTENSION     629
13      I-MEDICATION    1651
14           I-OBESE      36
15          I-SMOKER    1015
16                 O  323348

In [8]:
#存储为txt文件
df_training.to_csv('E:/JHU/课程/datadesign/NLP/machine_learning/trainingdata_noPHI.txt', sep='\t', index=False, header=False)